# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
JOURNEYS_PORT="3010"            # The port your server will listen on
JOURNEYS_HOST="localhost"       # Hostname for the server

JOURNEYS_CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

JOURNEYS_COMMON_RATE_LIMIT_MAX_REQUESTS="50" # Max number of requests per window per IP
JOURNEYS_MINUTE_TO_LAUNCH="1"
JOURNEYS_STRAPI_API_TOKEN=""
JOURNEYS_CHECK_TIME="1440" # This variable helps journeys to understand when to close processed journey job and open new 1 for checking default is 1 day
JOURNEYS_JOB_FAIL_LIFE_TIME_DAYS="1"
JOURNEYS_JOB_COMPLETED_LIFE_TIME_DAYS="1"


JOURNEYS_REDIS_PORT="6379"
JOURNEYS_REDIS_HOST="redis"


RABBITMQ_URL="amqp://guest:guest@localhost:5672"
JOURNEY_URL="http:/localhost:3010/"
COMPOSER_URL="http://localhost:3020/"
STRAPI_URL="http://localhost:1337/api/"